
:root{
    --main-color: #14011d;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #37043e;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    position: relative;
    background: transparent;
}

body::before{
    content: "";
    position: fixed;
    background: #14011d url(./image/pp.png) top right no-repeat;
    left: 0;
    background-size: 100%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
section {
    padding: 50px 0;
}
.container{
    padding-bottom: 10px;
}
#header img{
    width: 500px;
    height: 500px;
    float: right;
    position: absolute;
    right: 100px;
    bottom: 20px;
}

@media(min-width: 1024px){
    body::before{
        background-attachment: fixed;
    }
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #983990;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* navi */
.nav-menu{
    width: 100%;
    /*background:#441658 ;*/
    padding: 30px 0px;
    transition: all 0.3s ease;
    /*position: fixed;*/
    /*margin-top: -450px;*/
    /*margin-left: 70%;*/
}
/*.max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}*/
.nav-menu .max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu .menu li{
    list-style: none;
    display: inline-block;
}  
.nav-menu .menu li a{
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.nav-menu .menu li a:hover{
    color: crimson;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .nav-menu .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
    }
    .nav-menu .menu .active{
        left: 0;
    }
    .nav-menu .menu li{
        display: block;
    }
    .nav-menu .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

/*.nav-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu li + li{
    margin-left: 30px;
}

.nav-menu a{
    display: block;
    position: relative;
    color: #ffffffb3;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}

.nav-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: aqua;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out os;
}

.nav-menu a:hover::before,
.nav-menu li:hover > a::before,
.nav-menu .active > a::before{
    visibility: visible;
    width: 25px;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
    color: #fff;
    text-decoration: none;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all o.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #14011d;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    border: 2px solid #ffffff1f;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile-nav-active{
    overflow: hidden;
}
.mobile-nav-active .mobile-nav{
    opacity: 1;
    visibility: visible;
}
.mobile-nav a{
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}
.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
    color: var(--main-color);
    text-decoration: none;
}*/
/*-----Header------*/
#header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow: hidden;
}

#header *{
    transition: ease-in-out 0.3s;
}

#header h1{
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Popins", sans-serif;
}

#header h1 a,
#header h1 a:hover{
    color: aliceblue;
    line-height: 1;
    display: inline-block;
}

#header h2{
    font-size: 22px;
    margin-top: 15px;
    color:deepskyblue;
}

#header h2 span{
    color: #fb89f6;
}

#header .social-link{
    margin-top: 30px;
    display: flex;
}

#header .social-link a{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffcff1a;
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#header .social-link a:hover{
    background: #983990;
}

/* responsive */

@media (max-width:992px) {
    #header h1{
        font-size: 36px;
    }

    #header h2{
        font-size: 20px;
        line-height: 30px;
    }

    #header .social-link {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: 768px){
        #header .header-top {
            height: 60px;
        }
        #header .header-top h1 {
            font-size: 26px;
        }
    }
}



/* about */
.about{
    background: #111;
}
.about-me h2{
    margin: 0;
}
#about .about-me .section-title p {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    text-align: justify;
}

.about-me .content h3 {
    font-weight: 50;
    font-size: 30px;
    color: #fdffff;
    margin: 0;
}

.about-me .content ul{
    list-style: none;
    padding: 0;
}

.about-me .content ul li{
    padding-bottom: 10px;
}

.about-me .content ul i{
    font-size: 20px;
    padding-right: 2px;
    color: darkturquoise;
}

.about-me .content p{
    padding-bottom: 10px;
    display: flex;
    text-align: justify;
}

/*#about .about .lines{
    width: 100px;
    height: 45px;
}*/

.about h2:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 15.5%;
    top: 30%;
    background-color: #b0b0b0;
    width: 3in;
}
.about .button{
    padding: 12px;    
    margin: 30px 20px 0 0;
    border: 2px solid; 
    border-color: var(--main-color);
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.about .button:hover{
    background: none;
    color: crimson;
    border-color: crimson;
}

.skills .title:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 18%;
    top: 54.5%;
    background-color: #060606;
    width: 3in;
}
.skills{
    background: #fff;
    color: #000000;
}
.skills .skills-content,
.services .serv-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left p span{
    font-weight: bold;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #983990;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 85%;
}
.skills-content .right .js::before{
    width: 45%;
}
.skills-content .right .py::before{
    width: 50%;
}
.skills-content .right .ms::before{
    width: 99%;
}


.services .title:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 21%;
    top: 68%;
    background-color: #b0b0b0;
    width: 3in;
}
.services{
    color: #fff;
    background: #111;
}
.services .card .box {
    font-weight: 700;
}
/*.services .serv-content{
    display: flex;
}*/
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 9px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transition: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card p{
    margin-right: 10px;
    margin-left: 10px;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    
}
/*---------service end--------*/

.contact{
    color: #000000;
    background: #fff;
}

.contact .title:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    left: 20.5%;
    top: 82.2%;
    background-color: #000000;
    width: 3in;
}
.contact .contact-content .column{
    width: calc(50% - 60px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.div{
    display: block;
}
.contact-div{    
    display: flex;
    justify-content: start;
    align-items: center;
}
.contact-icon{    
    align-items: center;
    font-size: 20px;
    color: crimson;
    margin-right: 10px;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #380034;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;  
}
.contact .right form .button button{
    height: 100%;
    width: 100%; 
    border: 2px solid; 
    border-color: crimson;
    background: crimson;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    background: none;
    color: crimson;
}

.credit{background: var(--main-color);
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}










